@model QTKar.Models.HoaDon

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GioVao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioVao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChiTietHoaDon.MaHoaDon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChiTietHoaDon.MaHoaDon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Khach.TenKhach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Khach.TenKhach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.TenNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.TenNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phong.TenPhong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phong.TenPhong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaHoaDon }) |
    @Html.ActionLink("Back to List", "Index")
</p>
